#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
    min-height: 100vh;
    background-image: url('/bg-line.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

